<h2> People </h2>
  <hr />
  <%= link_to 'New contact', new_person_path %>
  <% @people.each do |person| %>
  <h3><%= person.name %></h3>
  <!-- <h4><%= person.age %></h4>
  <h4><%= person.hair_color %></h4>
  <h4><%= person.eye_color %></h4>
  <h4><%= person.gender %></h4>
  <h4><%= person.alive %></h4> -->
  <%= link_to 'Show contact', person_path(person) %>
<% end %>
