<h2> People </h2>
  <hr />
  <% if @people.empty? %>
    <h3>No people found, please create someone!</h3>
  <% else %>
    <% @people.each do |person| %>
    <h3><%= person.name %></h3>
    <!-- <h4><%= person.age %></h4>
    <h4><%= person.hair_color %></h4>
    <h4><%= person.eye_color %></h4>
    <h4><%= person.gender %></h4>
    <h4><%= person.alive %></h4> -->
    <%= link_to 'Show person', person_path(person) %>
    <%= link_to 'Destroy person', person, method: :delete %>
    <% end %>
  <% end %>
  <%= link_to 'New', new_person_path %>
