<h2> Person </h2>
  <hr />
  <h3><%= @person.name %></h3>
  <h4><%= @person.age %></h4>
  <h4><%= @person.hair_color %></h4>
  <h4><%= @person.eye_color %></h4>
  <h4><%= @person.gender %></h4>
  <h4><%= @person.alive %></h4>
  <%= link_to 'Edit', edit_person_path(@person) %>
  <%= link_to 'Destroy person', @person, method: :delete %>
  <%= link_to 'Back', people_path %>
